*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.al {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    padding: 25px 10px;
    height: 80px;
}

.a{
    width: 10%;
    height: 40px;
    /* background-color: pink; */
}

.a h1 {
    /* font-family: sans-serif; */
    font-weight: 900;
    font-size: 23px;
    padding: 2px;
    padding-left: 14px;
}

.r {
    width: 40%;
    height: 40px;
    background-color: transparent;
    display: flex;
    color: rgb(26, 26, 26);
    justify-content: space-between;
}

.r a{
    color: rgb(26, 26, 26);
    font-size: 20px;
    text-decoration: none;
    margin-top: 4px;
}

.r select{
    border: none;
    background-color: transparent;
    color: rgb(26, 26, 26);
    font-size: 20px;
    width: 80px;
}

.r div{
    margin-top: 4px;
    font-size: 20px;
}

.discount {
    width: 100%;
    height: 60px;
    background-color: rgb(76, 31, 89);
}

.discount p{
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
    font-weight: 300;
    padding-top: 15px;
}

/* HOME */
.main {
    width: 100%;
    height: 600px;
    background-image: url(assets/images/mainframe.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.main h2{
    font-size: 120px;
    color: whitesmoke;
}

.main p{
    font-size: 20px;
    color: whitesmoke;
}

.main button{
    width: 130px;
    height: 45px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(76, 31, 89);
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
}

/* MOST SOLD */
.features{
    width: 100%;
    height: 670px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.features h1{
    background-color: transparent;
    font-size: 60px;
}

.features .features-cards{
    width: 95%;
    height: 400px;
    margin-top: 50px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
}

.features .features-cards .one{
    width: 23.5%;
    height: 450px;
    background-color: transparent;
}

.features .features-cards .two{
    width: 23.5%;
    height: 450px;
    background-color: transparent;
}

.features .features-cards .three{
    width: 23.5%;
    height: 450px;
    background-color: transparent;
}

.features .features-cards .four{
    width: 23.5%;
    height: 450px;
    background-color: transparent;
}

.features-cards .one .pic{
    width: 100%;
    height: 300px;
    background-image: url(assets/images/candyflowerpot.jpg);
    background-size: cover;   
    padding-top: 10px;
}

.features-cards .one .sale {
    width: 18%;
    height: 11%;
    background-color: rgb(76, 31, 89);
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

 .features-cards .more{
    /* display: flex;
    justify-content: space-between;
    flex-direction: row-reverse; */
    width: 100%;
    height: 4px;
    /* background: #000;
    background-color: green; */
} 

.features-cards .more .line{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-decoration: line-through;
} 

.features-cards .more p{
    display: flex; 
    justify-content: center; 
}

.amounts {
    /* background-color: green; */
    width: 100%;
    height: 10px;

}

.features-cards .two .pic{
    width: 100%;
    height: 300px;
    background-image: url(assets/images/dropvase.jpg);
    background-size: cover;   
    padding-top: 10px;
}

.features-cards h2{
    display: flex;
    justify-content: center;
    margin-top: 7%;
}

.features-cards .two .sale {
    width: 18%;
    height: 11%;
    background-color: rgb(76, 31, 89);
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

.features-cards .three .pic{
    width: 100%;
    height: 300px;
    background-image: url(assets/images/wavevast.jpg);
    background-size: cover;   
}

.features-cards .four .pic{
    width: 100%;
    height: 300px;
    background-image: url(assets/images/sunvase.jpg);
    background-size: cover;   
}

.car {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 120%;
    background-color: transparent;
}

.div-1 {
    width: 50%;
    height: 50px;
    padding-left: 25%;
    text-decoration: line-through;
    color: gray;
}

.div-2 {
    width: 50%;
    height: 50px;
    padding-right: 25%;
}

.contai{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    min-height: 50px;
    margin-bottom: 10px;
    font-size: 130%;
}

#car{
    margin-top: 7px;
}

/* STORE */
.explore{
    width: 100%;
    height: 600px;
    background-image: url(assets/images/homedecor.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.explore h2{
    font-size: 120px;
    color: whitesmoke;
}

.explore p{
    font-size: 20px;
    color: whitesmoke;
}

.explore button{
    width: 150px;
    height: 50px;
    font-size: 18px;
    color: rgb(76, 31, 89);
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.info {
    width: 100%;
    height: 690px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ABOUT */
.character {
    width: 95%;
    height: 600px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.first{
    width: 48%;
    height: 600px;
}

.picture{
    width: 100%;
    height: 350px;
    background-image: url(assets/images/about.jpg);
    background-size: cover;   
    padding-top: 10px;
}

.ture{
    width: 100%;
    height: 350px;
    background-image: url(assets/images/sustainability.jpg);
    background-size: cover;   
    padding-top: 10px;
}

.second {
    width: 48%;
    height: 600px;
}

.advice h2{
    font-size: 100px;
}

.advice p{
    font-size: 20px;
}

.advice button {
    width: 150px;
    height: 50px;
    font-size: 18px;
    color: whitesmoke;
    background-color: rgb(76, 31, 89);
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

/* SIGN */
.sign{
    width: 100%;
    height: 550px;
    background-image: url(assets/images/signup.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign h2{
    font-size: 60px;
    font-weight: 550;
    color: whitesmoke;
}

.sign label{
    font-size: 20px;
    color: whitesmoke;
    margin-left: 10px;
}
.sign input {
    width: 30%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.sign button{
    width: 150px;
    height: 50px;
    font-size: 18px;
    color: rgb(76, 31, 89);
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

/* CONTACT */
.social{
    width: 100%;
    height: 670px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.social h1{
    background-color: transparent;
    font-size: 60px;
}

.social .green{
    width: 85%;
    height: 400px;
    margin-top: 50px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
}

.social .gree{
    width: 33%;
    height: 400px;
    background-color: transparent;
    background-image: url(assets/images/watering.jpg);
    background-size: cover;
}

.social .reen{
    width: 33%;
    height: 400px;
    background-color: transparent;
    background-image: url(assets/images/shy.jpg);
    background-size: cover;
}

.social .gren{
    width: 33%;
    height: 400px;
    background-color: transparent;
    background-image: url(assets/images/coffee.jpg);
    background-size: cover;
}

.social button{
    width: 150px;
    height: 50px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    background-color: rgb(76, 31, 89);
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

/* END */
.footer {
    width: 100%;
    min-height: 40vh;
    background-color: #f2f3f6;
    padding-top: 5vh;
}

.btn-1{
    height: 6vh;
    width: 10%;
    color: black;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    margin-left: 45%;
    margin-top: 0;
}

.link-1{
    float: left;
    width: 20%;
    height: 30vh;
    /* background-color: #2f1c6a; */
}

.bless{
    float: left;
    width: 100%;
    height: 15vh;
    padding: 13% 30%;
    /* background-color: goldenrod; */
}

.ing{
    float: left;
    width: 100%;
    height: 15vh;
    gap: 10px;
    /* background-color: black; */
}

.link-2{
    float: right;
    width: 20%;
    height: 30vh;
    color: black;
    /* background-color: #2f1c6a; */
}

.money {
    display: block;
    text-decoration: underline;
    font-size: 130%;
    padding-bottom: 3%;
    padding-left: 6%;
}